name: "sspl"
services:
  web-interface:
    image:  sspl-web-interface
    pull_policy: never
    build:
      context:  git@github.com:ImranAtBhimsoft/sspl-web.git
      ssh:
        - default
      args:
        - REACT_APP_BASE_URL=${REACT_APP_BASE_URL}
        - REACT_APP_BASENAME=${REACT_APP_BASENAME}
    container_name: sspl-web-interface
    ports:
      - "8080:80"
    depends_on:
      api:
        condition:  service_started
        
  api:
    image: sspl-api
    pull_policy:  build
    build:
      context:  .
      dockerfile: Dockerfile
    container_name: sspl-api
    ports:
      - "${PORT}:${PORT}"
    environment:
      - NODE_ENV
      - PORT
      - ACCESS_TOKEN_SECRET
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@sspl-database:5432/${DB_NAME}
      - TWILIO_ACCOUNT_SID
      - TWILIO_AUTH_TOKEN
      - TWILIO_VERIFY_SERVICE_SID
      - PUSHER_APP_ID
      - PUSHER_APP_KEY
      - PUSHER_APP_SECRET
      - PUSHER_APP_CLUSTER
      - SENDGRID_API_KEY
      - API_HOST
    depends_on:
      database:
        condition:  service_healthy
    volumes:
      - "./uploads:/app/uploads"
    restart:  unless-stopped

  database:
    image:  postgres:17-alpine
    container_name: sspl-database
    restart: always
    shm_size: 128mb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - db-data:/var/lib/postgresql/data

  pgadmin:
    image:  dpage/pgadmin4
    container_name: sspl-pgadmin
    ports:
      - "2345:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL
      - PGADMIN_DEFAULT_PASSWORD
    depends_on:
      database:
        condition: service_healthy

  proxy:
    image:  nginx:1.27-alpine
    container_name: sspl-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - /etc/ssl/sspl-certs:/etc/nginx/certs:ro
    depends_on:
      api:
        condition:  service_started
      web-interface:
        condition:  service_started
volumes:
  db-data: